<mat-card>
  <mat-card-content>
    <div class="meses" *ngFor="let mes of meses">
      <h2>{{ mes.nome | uppercase }}</h2>
      <table>
        <tr>
          <td class="cell">Nome</td>
          <ng-container *ngFor="let semana of mes.semanas">
            <ng-container *ngFor="let dia of semana">
              <td>{{ dia.diaSemana }}</td>
            </ng-container>
          </ng-container>
        </tr>
        <ng-container *ngFor="let nome of nomes">
          <tr>
            <td> {{ nome }} </td>
            <ng-container *ngFor="let semana of mes.semanas">
              <ng-container *ngFor="let dia of semana">
                <td>
                  {{ dia.dia }} <!-- Use 'dia' para representar o dia do mês -->
                </td>
              </ng-container>
            </ng-container>
          </tr>
        </ng-container>
      </table>
    </div>
  </mat-card-content>
</mat-card>

<!-------------------------------------------------------------------------------------------------------------------------->

