<div class="tabelaMes">
  <mat-card *ngFor="let mes of meses" class="example-card">
    <mat-card-content>
      <div class="meses">
        <table>
          <th [attr.colspan]="calculateColspan(mes.semanas)">{{ mes.nome | uppercase }}</th>
          <tr>
            <td class="cell">Nome</td>
            <ng-container *ngFor="let semana of mes.semanas">
              <ng-container *ngFor="let dia of semana">
                <td>{{ dia.diaSemana }}</td>
              </ng-container>
            </ng-container>
          </tr>
          <ng-container *ngFor="let nome of nomes">
            <tr>
              <td> {{ nome }} </td>
              <ng-container *ngFor="let semana of mes.semanas">
                <ng-container *ngFor="let dia of semana">
                  <td [style.background-color]="dia.cor">
                    {{ dia.dia }}
                  </td>
                </ng-container>
              </ng-container>
            </tr>
          </ng-container>
        </table>
      </div>
    </mat-card-content>
    <ng-container *ngFor="let afastamento of afastamentos">
      <tr *ngIf="afastamento.exercicioAno === anoSelecionado">
        <td>{{ afastamento.idTipoAfastamento }}</td>
        <td>{{ afastamento.gozoDataInicio | date }}</td>
        <td>{{ afastamento.gozoDataFim | date }}</td>
      </tr>
    </ng-container>
  </mat-card>
</div>
