<form>
  <mat-card class="afastamentos">
    <div class="form-container">
      <mat-form-field>
        <mat-label>Ano</mat-label>
        <mat-select [(ngModel)]="anoSelecionado" name="anoSelecionado" (selectionChange)="onAnoSelecionadoChange()">
          <mat-option *ngFor="let ano of anos" [value]="ano">{{ ano }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="selectDepartamento">
        <mat-label>Departamento</mat-label>
        <mat-select [(ngModel)]="siglaSelecionada" name="siglaSelecionada" (selectionChange)="onSiglaSelecionadaChange()">
          <mat-option *ngFor="let sigla of siglas" [value]="sigla">
            {{ sigla }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button class="btnBuscar" mat-raised-button (click)="buscarAfastamentosPorAnoESigla()">
        Buscar
      </button>
    </div>

    <div class="afastamentosContainer">
      <mat-card-content class="conteudoAfastamentos">
        <td class="feriasAnoCorrente">
          <a>
            <i class="material-icons"> card_travel </i>
            Ferias Ano Corrente
          </a>
        </td>
        <td class="anoAnterior">
          <a>
            <i class="material-icons"> card_travel </i>
            Ferias Ano Anterior
          </a>
        </td>
        <td class="licensaCapacitacao">
          <a>
            <i class="material-icons"> school </i>
            Licensa Capacitação
          </a>
        </td>
        <td class="naoHomologadas">
          <a>
            <i class="material-icons"> event_busy </i>
            Não Homologadas
          </a>
        </td>
        <td class="bancoDeHoras">
          <a>
            <i class="material-icons"> work_history </i>
            Banco de Horas
          </a>
        </td>
      </mat-card-content>
    </div>
  </mat-card>

  
<div class="container">

  <mat-card class="cardTable">
    <mat-card-content>
      <div class="table-container">
        <ng-container *ngFor="let mes of meses">
          <thead>
            <tr>
              <!-- Defina o número total de células (dias) no mês -->
              <th [attr.colspan]="mes.semanas.flat().length + 1">
                {{ mes.nome }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>NOME:</td>
              <ng-container *ngFor="let semana of mes.semanas">
                <ng-container *ngFor="let dia of semana">
                  <td>{{ dia.diaSemana }}</td>
                </ng-container>
              </ng-container>
            </tr>
            <ng-container *ngFor="let nomeServidor of getNomeServidores">
              <tr>
                <td>{{ nomeServidor }}</td>
                <ng-container *ngFor="let semana of mes.semanas">
                  <ng-container *ngFor="let dia of semana">
                    <td [ngStyle]="{ 'background-color': getAfastamentoColor(dia.dia, nomeServidor) }">
                      {{ dia.dia }}
                      <br />
                      {{ getTipoAfastamento(dia.dia, nomeServidor) }}
                    </td>
                  </ng-container>
                </ng-container>
              </tr>
            </ng-container>
          </tbody>
        </ng-container>
      </div>
    </mat-card-content>
  </mat-card>
</div>
  
  
  
</form>
