<mat-sidenav-container class="example-container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav-list">
            <a mat-list-item>
                <i class="material-icons">
                    card_travel
                </i>
                Ferias Ano Corrente
            </a>
            <a mat-list-item>
                <i class="material-icons">
                    card_travel
                </i>
                Ferias Ano Anterior
            </a>
            <a mat-list-item>
                <i class="material-icons">
                    school
                </i>
                Licensa Capacitação
            </a>
            <a mat-list-item>
                <i class="material-icons">
                    event_busy
                </i>
                Não Homologadas
            </a>
            <a mat-list-item>
                <i class="material-icons">
                    work_history
                </i>
                Banco de Horas
            </a>
            
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <app-home></app-home>
    </mat-sidenav-content>
  </mat-sidenav-container>